.player {
    text-align: center;
    font-size: 2em;
}

.player a,
.player a:hover,
.player a:visited,
.player a:active {
    text-decoration: none;
}

.player .player-actions {
    font-size: 0.5em;
}

.refresh {
    text-align: right;
}

.remove {
	text-align: left;
}

.life {
    font-size: 4em;
}